<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>

  <appSettings>
    <add key="timer" value="300000"/>
    <add key="proress_step_update_database" value="100"/>
    <add key="tcp_timeout" value="5000"/>
    <add key="restart_scanner_delay" value="1000"/>
    <add key="checkin_logic" value="./checkinLogic.js"/>
  </appSettings>
</configuration>
